*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(218, 214, 227);
    font-family: sans-serif;
}


header{
    display: flex;
    min-height: 70px;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: #ffff;
}

.logo{
    display: flex;
    align-items: center;
    font-size: small;
    text-decoration: none;
}

.logo img{
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.nombre_programa{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

nav a{
    padding-right: 10px;
}

nav a:hover{
    color: black;
}

.button{
    margin-right: 10px;
    padding: 2px 10px;
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

@media (max-width:768px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }

    .nombre_programa{
        font-size: 1rem;
        font-weight: 100;
    }
}

.flex-container_first{
    margin: 10px;
    display: flex;
    flex: 1;
}

.cards{
    width: 100%;
    background-color: #f5f1f5;
    border: 0.5px solid gray;
    border-radius: 15px;
    position: relative;
    box-shadow: 1px 1px 1px gray;
    overflow: hidden;
}

.card__header-1{
    position: relative;
}

.banner__card{
    width: 100%;
} 

.profile__picture{
    width: 22.5%; 
    border-radius: 50%;
    position: absolute;
    top: 74.5%;
    left: 1%;
    
}

.card__body-1{
    margin-top: 8%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
}

.card__text-title{
    margin: 0;
    font-size: 1.4rem;
}

.card__text{  
    font-size: 1.2rem;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
 

.card__text--light{
    color: hsl(227, 10%, 46%);
}

.icon{
    padding: 2%;
}

@media (max-width: 768px){
    .card__text{
        font-size: 1rem;
    }
}


.info__container{
    margin: 10px;
    background-color: #f5f1f5;
    border: 0.5px solid gray;
    border-radius: 15px;
    box-shadow: 1px 1px 1px gray;
    overflow: hidden;
}

.cards-2{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header__card{
    display: flex;
    justify-content: space-between;
}

.header__title{
    margin: 0;
    font-size: 1.3rem;
    padding: 2%;
}

.icon{
    padding: 2%;
}

.body__card{
    display: flex;
    justify-content: space-between;
}

.info-card{
    display: flex;
}

.logo__body{
    padding: 20px;
}

.logos{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.text__body{
    padding-left: 20px;
}

.title__body{
    font-size: 1.2rem;
}

.description__body{
    padding-top: 5px;
    padding-bottom: 20px;
}

.card__text-body{
    font-size: 1.1rem;
    margin: 0;
}

@media (max-width: 768px){
    .logos{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .header__title{
        font-size: 1.1rem;
    }

    .title__body{
        font-size: 1rem;
    }

    .card__text-body{
        font-size: 0.9rem;
    }
}


.flex__container{
    margin: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f5f1f5;
    border: 2px solid gray;
    border-radius: 20px;
    overflow: hidden;
}

.skills__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.skills__name-card{
    display: flex;
    justify-content: space-between;
}

.title-card{
    padding: 2%;
}

.skills__text{
    margin: 0;
    font-size: 1.3rem;
}

.skills__card{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.box{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;

}

.skill{
    width: 160px;
    height: 160px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.outer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}

.number{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(201, 32, 114);
}

circle, .p15 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 401.2;
    animation: anim 2s linear forwards;
}

circle, .p20 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 377.6;
}

circle, .p25 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 354;
}


circle, .p40 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 283.2;
}

circle, .p70 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 141,6;
}

circle, .p80 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 94.4;
}

circle, .p90 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 470;
    stroke-dashoffset: 65;
}

circle, .p100 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 0;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

.skill__name{
    padding: 5px;
}

.skill__text{
    font-size: 1rem;
}

@media (max-width: 768px){
    .skills__text{
        font-size: 1.1rem;
    }

    .number{
        font-size: 1.3rem;
    }

    .skill__text{
        font-size: 0.90rem;
    }
}